.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: px;
    right: px;
    cursor: pointer;
    color: black;
}
img {
  height: 200px;
}
body {
  text-align: center;
  background: pink;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 20px;
}

.My videos{
    height: 400px;
    width; 300px;
}
Inspiration{
    transition: transform .2s;
    border: 10px solid;
}
Inspiration:hover{
    transform: scale(0.9);
}